.container{
  display: flex;
  align-items: stretch; 
  justify-content: center; 
  gap: 17px;
}

.card {
  width: 29%;
  gap:10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.card .date {
  font-size: 0.9em;
  color: black;
  font-size: 19px;
  margin-top: 10px;
}

.card .green-button {
  background-color: green;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 140px;
}

.card .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 25px;
}
h4{
  margin-left: 220px;
}

.card .text-content {
  margin: 20px 0;
  flex: 1; 
}

.card .text-content p {
  max-width: 350px;
  margin: 0;
}

.card .download-button {

  color:blue;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-color: blue;  
  border-radius:50px;
  margin-top: 10px;
  width: 32%;

}

.card .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card .button-and-image {
  display: flex;
  align-items: center;
}

.card .green-button {
  background-color: green;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 140px;
}

.card .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  margin-right: 20px;
  margin-top: 0; 
}

h4 {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .card{
    width: 78%;
    padding: 15px;
  }
  .card .download-button{
    width: 105px;
  }
  .card .green-button{
  width: 6rem;

  }
} 

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card{
    width: 47%;
    padding: 10px;
  }

  .card .download-button{
    width: 105px;
  }
  .card .green-button{
  width: 6rem;

  }

}
